.h1{
    font-weight: 900;
    font-size: xx-large;
    font-stretch: ultra-expanded;
}

.hero p{
    color : gray;
}

.hero button{
    background-color: red;
    border : none;
    font-weight: 900;
    color : white;
    margin-left : 10px;
    cursor:  pointer;
    border-radius: 20px;
}

.image{
    margin-left : 10px;
    
}
.image img{
    margin-left : 20px;
}